body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}

a {
    color: #a7a5a5;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

img,
input {
    border: 0 none;
    padding: 0;
    outline-style: none;
    vertical-align: middle;
    margin: 0;
    padding: 0;

}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto;
}